{{ define "content" }}
<section class="detail">
    <div class="detail-card">
        <h2 class="section-title">Подробнее о лекарстве</h2>
        <div class="detail-layout single">
            <img src="{{ call .ImageURL .Medicine.ImageKey }}" alt="{{ .Medicine.Name }}" class="detail-img"/>
            <div class="detail-info">
                <h3>{{ .Medicine.Name }}</h3>
                <p class="detail-text">{{ .Medicine.Description }}</p>
                <div class="detail-meta">Категория: {{ .Medicine.Category }}</div>
                <div class="detail-meta">Производитель: {{ .Medicine.Manufacturer }}</div>
            </div>
        </div>
    </div>
</section>
{{ end }}


